## 1. loop(반복문)
- 반복적인 작업을 가능하게 해주는 도구
- list, str, tuple 등 컬렉션 타입의 경우 아이템을 하나씩 순회하면서 사용(for)
- 특정 조건을 만족하는 경우 계속 수행(while)

#### - 반복횟수를 안다->for, 반복횟수를 모른다->while

In [8]:
# 컬렉션 타입을 활용한 반복문
list_a=[1,2,3]

for num in list_a:
    print(num)

1
2
3

In [1]:
# range함수를 활용한 반복문
# range(시작값,끝값+1)

list(range(1,11))

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
# enumerate 함수를 활용한 반복문

# enumerate : 지금이 몇회차인지(=반복횟수, 인덱스) 알고싶을때 사용

a=[7,8,9]
for i,val in enumerate(a):
    print(i,val)  #앞에 인덱스번호가 붙음

0 7
1 8
2 9

In [6]:
# 중첩 for문
for i in range(5):     # 위에거 한번 돌때 아래거 3번
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [8]:
a = ["A","B","C","D"]
for i, val in enumerate(a):
    print(f"index: {i}, value: {val}")

index: 0, value: A
index: 1, value: B
index: 2, value: C
index: 3, value: D

In [10]:
# dict type
a = {
    "korea" : "seoul",
    "japan" : "tokyo",
    "canada" : "ottawa"
}
for key in a:
    print(key)

korea
japan
canada

In [11]:
for value in a.values():
    print(value)

seoul
tokyo
ottawa

In [12]:
for key, value in a.items():
    print(key, value)

korea seoul
japan tokyo
canada ottawa

In [13]:
# break : 반복문 종료
a = [1,2,3,4,5]

for num in a:
    if num > 3:
        break
    print(num)

1
2
3

In [14]:
# continue: 해당 반복을 건너뛰고 다음 반복으로 이동(반복문 종료X)

a = [1,2,3,4,5]

for num in a:
    if num % 2 == 0:  # 짝수 판별
        continue
    print(num)

1
3
5

### 연습문제

In [5]:
#문제 1. 구구단 출력
# 2X1=2
# 2X2=4
# ...
# 2X9=18
for i in range(1,10):
    print(f"2 X {i} = {2*i}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [7]:
num=int(input("단 수를 입력해 주세요 : "))

for i in range(1,10):
    print(f"{num} X {i} = {num*i}")

단 수를 입력해 주세요 : 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

In [22]:
#2단부터 9단까지

for i in range(2,10):
    print(f"  구구단 {i}단을 출력합니다")
    for j in range(1,10):
        print(f"\t{i} X {j} = {j*i}")
    print("\n")

  구구단 2단을 출력합니다
	2 X 1 = 2
	2 X 2 = 4
	2 X 3 = 6
	2 X 4 = 8
	2 X 5 = 10
	2 X 6 = 12
	2 X 7 = 14
	2 X 8 = 16
	2 X 9 = 18


  구구단 3단을 출력합니다
	3 X 1 = 3
	3 X 2 = 6
	3 X 3 = 9
	3 X 4 = 12
	3 X 5 = 15
	3 X 6 = 18
	3 X 7 = 21
	3 X 8 = 24
	3 X 9 = 27


  구구단 4단을 출력합니다
	4 X 1 = 4
	4 X 2 = 8
	4 X 3 = 12
	4 X 4 = 16
	4 X 5 = 20
	4 X 6 = 24
	4 X 7 = 28
	4 X 8 = 32
	4 X 9 = 36


  구구단 5단을 출력합니다
	5 X 1 = 5
	5 X 2 = 10
	5 X 3 = 15
	5 X 4 = 20
	5 X 5 = 25
	5 X 6 = 30
	5 X 7 = 35
	5 X 8 = 40
	5 X 9 = 45


  구구단 6단을 출력합니다
	6 X 1 = 6
	6 X 2 = 12
	6 X 3 = 18
	6 X 4 = 24
	6 X 5 = 30
	6 X 6 = 36
	6 X 7 = 42
	6 X 8 = 48
	6 X 9 = 54


  구구단 7단을 출력합니다
	7 X 1 = 7
	7 X 2 = 14
	7 X 3 = 21
	7 X 4 = 28
	7 X 5 = 35
	7 X 6 = 42
	7 X 7 = 49
	7 X 8 = 56
	7 X 9 = 63


  구구단 8단을 출력합니다
	8 X 1 = 8
	8 X 2 = 16
	8 X 3 = 24
	8 X 4 = 32
	8 X 5 = 40
	8 X 6 = 48
	8 X 7 = 56
	8 X 8 = 64
	8 X 9 = 72


  구구단 9단을 출력합니다
	9 X 1 = 9
	9 X 2 = 18
	9 X 3 = 27
	9 X 4 = 36
	9 X 5 = 45
	9 X 6 = 54
	9 X 7 = 63
	9 X 8 = 72
	9 X 9 = 81

In [25]:
#문제 2. 1~30까지 정수 중 2 또는 11의 배수를 모두 출력하시오

for i in range(1,31):
    if i%2==0 or i%11==0:
        print(i)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30